section {
    > h2 {
        margin: 60px auto 40px;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #61202b;
        text-underline-position: under;
    }
}
